/* @group Fonts */
/*ultralight
thin
light
regular
medium
bold*/
/* Ultra Light */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-UltLt.otf);
	font-weight: 100;
}

/* Thin */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-UltLt.otf);
	font-weight: 200;
}

/* Light */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
	font-weight: 300;
}

/* Light Italic */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-LtIt.otf);
	font-weight: 300;
	font-style: italic;
}

/* Regular */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
	font-weight: 400;
}

/* Regular Italic */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-It.otf);
	font-weight: 400;
	font-style: italic;
}

/* Medium */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-Md.otf);
	font-weight: 500;
}

/* Bold */
@font-face {
	font-family: 'HelveticaNeue';
	src: url(../fonts/HelveticaNeueLTStd-Bd.otf);
	font-weight: 700;
}

/* @end of Fonts */