/* @group Global */
body { background: #000; color: #fff; font-family: 'Proxima Nova'; }
#main {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
}
#player { width: 80%; height: 100%; position: relative; left: 0; top: 0; }
#timeline { width: 20%; height: 100%; background-color: #222; position: absolute; right: 0; top: 0;}
video { opacity:0; -webkit-transition: opacity 5s; display: block; margin: 0 auto; width: 100%; height: 100%;}
video.play { opacity: 1; }

#player nav {
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;

}

#play-button {
	width: 50px;
	height: 50px;
	background: rgba(255,255,255, 0.2);
	color: #fff;
	box-sizing: border-box;
	float: left;
}

#progress-bar {
	width: 95%;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	
}

#progress-bar span.progress, 
#progress-bar span.buffer { background-color: rgba(255, 255, 255, 0.4); height: 100%; display: inline-block; position: absolute; }

#progress-bar .progress { z-index: 7; }
#progress-bar .buffer { opacity: .5; }

#player nav > .evt { z-index: 10; width: 20px; height: 20px; position: absolute; top: -25px; display: block; margin-left: -20px; background-color: #fff; text-align: center;}
#player nav > .evt:hover { background-color: #f6465e; }
#player nav > .evt:before { content: ''; z-index: 20; position: relative; top: 20px; left: 5%; color: #fff; width: 20px; padding-bottom: 40px; border-left: 1px solid #fff;}

#button { position: absolute; top: 50%; left: 50%; margin-left: -110px; margin-top: -110px; z-index: 2; height: 200px; width: 200px; border: 10px solid #fff; border-radius: 200px; opacity: .5; text-align: center; background: transparent; transition: opacity .2s ease, -webkit-transform .2s ease; }
#button.off { /*-webkit-transform:scale(4);*/ opacity: 0;}
#button.loading { -webkit-animation: loading 1s infinite linear; }
#button span { display: inline-block; height: 100px; width:40px; background: #fff; margin: 4em .5em 0 0; }

#main > .evt, #timeline .evt {
	border: 1px solid #eee;
	background: rgba(0,0,0,0.5);
	width: 40%;
	height: 80px;
	opacity: 0;
	position: absolute;
	top: 20px;
	z-index: 100;
	left: 50%;
	margin-left: -30%;
}

#main > .evt.visible, .f.visible, .g.visible, .h.visible {
	opacity: 1;
}

#timeline .evt, #feed .f, #feed .g, #feed .h {
	position: static;
	width: 90%;
	margin: 5%;
	opacity: 1;
	border-color: #f6465e;
}

@-webkit-keyframes loading {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); } 
}



/* @end of Global */