/* @group Global */
body { background: #000; color: #fff; font-family: 'Proxima Nova'; }

#wrapper { position: absolute; width: 100%; height: 100%; top: 0; left: 0; overflow: hidden; }
#wrapper-rel { position: relative; width: 100%; height: 100%; top: 0; left: 0; -webkit-transition: left 0.3s ease-out; }
#wrapper-rel.display-browser { left: -50%; }
#main { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: inline-block; float: left; }


#player { width: 80%; height: 100%; position: relative; left: 0; top: 0; }
#timeline { width: 20%; height: 100%; background-color: rgba(0, 0, 0, 1); position: absolute; right: 0; top: 0; overflow-y: hidden;}
#browser { width: 50%; position: relative; left: 100%; height: 100%; background-color: rgba(0, 0, 0, 1); display: inline-block; }
#browser a#close-browser { display: block; width: 20px; height: 20px; position: absolute; right: 0; top: 0; background: pink; }

video { opacity: 1; -webkit-transition: opacity 5s; display: block; margin: 0 auto; width: 100%; height: 100%; }

#player nav { width: 100%; background: rgba(255, 255, 255, 0.2); position: absolute; bottom: 0; left: 0; z-index: 10; }

#play-button { width: 50px; height: 50px; background: rgba(255,255,255, 0.2); color: #fff; float: left; cursor: pointer; }
#play-button:hover { background: rgba(255, 255, 255, 0.4); }

#progress-bar { width: 95%; height: 50px; display: inline-block; box-sizing: border-box; position: relative; }
#progress-bar span.progress, 
#progress-bar span.buffer { background-color: rgba(255, 255, 255, 0.4); height: 100%; display: inline-block; position: absolute; }
#progress-bar .progress { z-index: 7; }
#progress-bar .buffer { opacity: .5; }

#player nav > .evt { z-index: 10; width: 20px; height: 20px; position: absolute; top: -25px; display: block; margin-left: -20px; background-color: #fff; text-align: center;}
#player nav > .evt:hover { background-color: #f6465e; }
#player nav > .evt:before { content: ''; z-index: 20; position: relative; top: 20px; left: 5%; color: #fff; width: 20px; padding-bottom: 40px; border-left: 1px solid #fff;}

#main  .evt, #timeline .evt {
	border: 1px solid #eee;
	background: rgba(0,0,0,0.5);
	width: 40%;
	height: 80px;
	opacity: 0;
	position: absolute;
	top: 20px;
	z-index: 100;
	left: 50%;
	margin-left: -30%;
}

#main .evt.visible {
	opacity: 1;
}

#timeline .evt {
	position: static;
	width: 90%;
	margin: 5%;
	opacity: 1;
	border-color: #f6465e;
}

@-webkit-keyframes loading {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); } 
}


.loader { border: 5px solid #fff; border-top: 5px solid rgba(255, 255, 255,0); border-bottom: 5px solid rgba(255, 255, 255,0); width: 30px; height: 30px; border-radius: 30px; margin: 5% auto; -webkit-animation: loading .6s infinite linear; }

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}


/* @end of Global */