@font-face {
    font-family: 'first_orderregular';
    src: url('fonts/firstv2-webfont.eot');
    src: url('fonts/firstv2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firstv2-webfont.woff') format('woff'),
         url('fonts/firstv2-webfont.ttf') format('truetype'),
         url('fonts/firstv2-webfont.svg#first_orderregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{overflow: hidden;background: url(img/bg.jpg) no-repeat center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#countdown{width: 100%;height: auto;text-align: center;font-family: 'first_orderregular';font-size: 8em;color : #fff;position: absolute;top : 50%;margin-top: -200px;}

#countdown span{position: relative;}

.unity_days,.unity_hours,.unity_minutes,.unity_seconds,.days2,.hours2,.minutes2,.seconds2{margin-left: -30px;}
.days2,.hours2,.minutes2,.seconds2{margin-left: -38px;}

